.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.466);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.group {
    display: flex;
    font-size: 2em;
    width: 50%;
    flex-direction: column;
    gap: 20px;
    padding: 2px;
    justify-content: center;
    align-items: center;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--ifm-color-primary);
    background-color: var(--ifm-color-secondary);
    border-radius: 10px;
    padding: 5em;
    gap: 20px;
}

.icon {
    min-width: fit-content;
    text-align: center;
}

.action {
    font-size: 1.5em;
}

.row {
    display: flex;
    gap: 2em
}

.row hr {
    width: 3px;
    height: 100%;
    background-color: var(--ifm-color-info-darkest);
}

@media (max-width:768px) {
    .row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row hr {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        height: 3px;
    }
}

.spinner-wrapper {
    z-index: 2;
    position: absolute;
    width: 77vmin;
    height: 77vmin;
}