@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    scroll-behavior: smooth !important;
}

.navbar {
    padding: 5px 0;
}

.poppins {
    font-family: 'Poppins', sans-serif !important;
    scroll-behavior: smooth;
}

.cont_wrap a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.background-hero {
    padding-top: 60px;
    background-color: #f2f2f2;
    background-image: url(../../static/img/background-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    /* min-height: 100vh; */
    position: relative;
}

.flex {
    display: flex;
    width: 100%;
}

.aligncenter {
    align-items: center;
}


.logocont {
    padding: 20px 0;
    flex: 1;
    max-width: 200px;
}

.logocont img {
    max-width: 60px;
}

.menucont {
    flex: 2;
    text-align: center;
}

.menucont a {
    text-decoration: none;
    color: #0b111e;

    transition: .3s ease;
}

.menucont a:hover {
    color: #6a6f78;
}

.menucont ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.menucont ul li {
    display: inline-block;

}

.menucont .buttonscont {
    display: none;
}

.menucont ul li a {
    padding: 10px 30px;
    font-size: 15px;
}


.mobilebtn button {
    background-color: unset;
    border: 0;
}

.mobilebtn {
    display: none;
    padding: 10px;
}

.closebtn {
    display: none;
}

.buttonscont {
    flex: 1;
    text-align: right;
    font-weight: 600;
    max-width: 300px;
}


.buynow {
    color: #283445;
    border-radius: 8px;
    padding: 8px 24px;
    display: inline-block;
}

.buynow:hover {
    color: #283445;
}

.langbtn {
    font-weight: 500;
    color: #111727;
    padding: 7px 0;
    margin: 10px 0;
    margin-left: 5px;
    border-bottom: 2.5px solid #111727;
    transition: .3s ease-in-out;
    white-space: nowrap;
    position: relative;
    font-weight: bold;
}

.langbtn::before {
    content: "";
    position: absolute;
    left: -30px;
    width: 12px;
    height: 30px;
    background-image: url(../../static/img/arrow.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



.langbtn:hover {
    color: #283445;
}




.leftfirsts h1 {
    font-weight: 600;
    line-height: 1.2;
    font-size: 65px;
    margin-bottom: 10px;
}

.firstsecm {
    margin: 10px 0 40px 0;
    font-size: 15px;
}

.langbtn span img {
    width: 40px;
}

.specialbo .buynow {
    background-color: #0b111e;
    color: white;
    /* border: 2px solid #0b111e; */
    padding: 16px 30px;
    border-radius: unset;
    font-size: 13px;
}

.specialbo {
    max-width: unset;
    text-align: left
}





.leftpart,
.rightimg {
    flex: 1;
}

.cardhea {
    text-align: right;
}

.cardhea img {
    width: 90%;

}

.orangeth {
    color: #f87d53
}

.purpthing {
    color: #b671c6;
}


.playbtn {
    background-color: #f87d53;
    border: 2px solid #0b111e;
    width: 75px;
    height: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100px;
    cursor: pointer;
}

.playbtn img {
    width: 17%;
}

.lef_t {
    max-width: 420px;
}

.righ_t {
    padding: 30px 40px;
}


.iconplace {
    max-width: 700px;
    padding: 40px 0;
}

.iconthingh {
    padding: 15px;
}

.iconthingh img {
    width: 25px;
}

.iconsetit {
    flex: 1;
    position: relative;
}

.textitemic {
    padding-right: 30px;
    font-weight: 600;
}

.iconsetit:after {
    content: "";
    position: absolute;
    right: 15%;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #0b111e;
    transform: rotate(10deg)
}

.iconsetitlast::after {
    display: none;
}

.buttontobottom {
    text-align: right;
    padding: 25px;
    padding-right: 0;
}

.buttontobottom a {
    display: inline-block;
    border: 2px solid #0b111e;
    width: 70px;
    height: 70px;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    background-image: url(../../static/img/arrow.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);

}

.importpart {
    padding: 40px 0;
}

.spacebetween {
    justify-content: space-between;
}


#space {
    min-height: 100vh;
}

@media only screen and (max-width: 1600px) {
    header {
        min-height: 100vh;
    }
}

@media only screen and (max-width: 1200px) {

    /* Slide menu styles */

    .slidemenubtn,
    .closeslidedmenu {
        border: none;
        background-color: transparent;
    }

    /* .slidemenubtn{
        margin-right: 20px;
    } */

    .slidemenuover {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        z-index: 10;
        background-color: #2b2d3385;
        cursor: pointer;
        display: none;
    }

    .slidedmenu {
        z-index: 10;
        height: 100%;
        width: 40%;
        min-width: 300px;
        background-color: #33343B;
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        position: fixed;
    }

    .slidedmenuopen {
        display: block;
        animation-name: slidedmenuopen;
        animation-duration: .6s;
        transform: translateX(0);
    }

    @keyframes slidedmenuopen {
        0% {
            transform: translateX(100%);
        }

        50% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .slidedmenuclose {
        display: block;
        animation-name: slidemenuclose;
        animation-duration: .5s;
        transform: translateX(100%);

    }

    @keyframes slidemenuclose {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(100%);
        }
    }


    .tabsmall {
        max-width: 800px;
        margin: 0 auto;
    }

    .mobilebtn {
        display: block;
    }

    .menupart {
        position: fixed;
        right: 0;
        height: 100vh;
        width: 0;
        top: 0;
        background-color: white;
    }

    .closebtn {
        padding: 25px 20px 35px 60px;
        display: block;
        text-align: right;
    }

    .menupart {
        overflow-y: auto;
    }

    .menupart ul li {
        display: block;
    }

    .menupart ul li a {
        display: block;
        padding: 20px;
    }

    .buttonscont {
        margin-left: auto;
    }

    .menucont {
        flex: unset;
    }

    .buynow {
        padding: 25px 10px 25px 0
    }
}

@media only screen and (max-width: 1020px) {
    .leftfirsts h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 769px) {

    .buttonscont {
        display: none;
    }

    .menucont .buttonscont {
        display: block;
    }

    .menucont .buttonscont a {
        display: block;
        text-align: center;
    }

    .mobilebtn {
        margin-left: auto;
    }

    .specialbo {
        display: block;
    }

    .specialbo .langbtn {
        margin: 15px;
    }


    .companies_part {
        text-align: center;
    }

    .morelinkt {
        padding: 20px;
        text-align: left;
    }

    .secondbackth {
        padding: 70px 0;
        background-image: unset;
    }

    .getitem {
        margin: 0 auto;
    }

    .sociallinks {
        margin-bottom: 40px;
    }

    .finafoot,
    .finafoot .right {
        text-align: center;
    }

    .finafoot .right span {
        margin: 0 10px;
    }


    .mobilrev {
        flex-direction: column-reverse;
    }

    .cardhea {
        text-align: center;
    }

    .leftfirsts h1 {
        font-size: 40px;
    }

    .righ_t {
        padding: 30px 20px;
        flex: 1;
        text-align: center;
    }

    .lef_t {
        flex: 5;
    }

    .iconsetit {
        padding: 7px 0;
    }

    .iconsetit:after {
        display: none;
    }
}

.navbar__items--right .clean-btn {
    display: none !important;
}

.authloginpopup {
    left: calc(50% - 14rem);
    top: calc(50vh - 10rem);
}